<div class="container">
  <div class="banner border-bottom">
    <h1>Save any kind of movie to your list!</h1>
  </div>

  <div class="d-flex justify-content-between">
    <h3>My Lists</h3>
    <%= link_to 'Create a new list', new_list_path(@list), class: "btn btn-primary" %>
  </div>

Here are your lists:
  <div>
    <div class="row">
      <div class="card">
          <% @lists.each do |list| %>
        <div class="card-header btn">
            <%= render '/lists/list', list: list %>
        </div>
          <% end %>
      </div>
    </div>
  </div>

  <h3>Here are all the available <%= link_to "movies!", movies_path %>:</h3>
  <br>
  <div class="movie-card container">
  <% @movies.each do |movie| %>
    <div class="list-group-item">
      <div class="movie-card-text card">
        <h4><strong><%= movie.title %> - <%= movie.rating %> <i class="fas fa-star star-yellow"></i></strong></h4>
        <p class="overflow-ellipsis"><%= movie.overview %></p>
        <div class="show-delete">
          <%= link_to "See more", movie_path(movie) %>
          <%= link_to "Delete",
                        movie_path(movie),
                        method: :delete,
                        data: { confirm: "Are you sure?" } %>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br><br>
<br>
<br>
<br><br>
<br>
<br>
<br><br>
<br>
<br>
<br><br>
<br>
<br>
<br><br>
<br>
<br>
<br><br>
<br>
<br>
<br><br>
<br>
<br>
<br><br>
<br>
<br>
<br><br>
<br>
<br>
<br><br>
<br>
<br>
<br><br>
<br>
<br>
<br><br>
<br>
<br>
<br><br>
<br>
<br>
<br>
