  <br><br> <br><br>
<div class="container">
  <div class="d-flex justify-content-between">
    <h1><%= @list.name %></h1>
    <%= link_to 'Create a bookmark', new_list_bookmark_path(@list), class: "btn btn-secondary"  %>
  </div>
  <br>
  <div class="row">
    <% @list.movies.each do |movie| %>
    <div class="card">
      <h3><%= movie.title %></h3>
      <% movie.bookmarks.each do |bookmark| %>
        <%= bookmark.comment %> &nbsp; | &nbsp; <%= link_to "Delete",
                            bookmark_path(bookmark),
                            data: {
                              "turbo-method": :delete,
                              confirm: "Are you sure?" } %>
        <br>
        <br>
      <% end %>
    </div>
    <% end %>
  </div>
  <br>
  <div class="d-flex justify-content-between">
    <div>
      <%= link_to 'Back Home', lists_path(@list), class: "btn btn-primary" %>
    </div>
    <div class="delete">
      <%= button_to "Delete list",
                            list_path(@list),
                            method: :delete,
                            data: { confirm: "Are you sure?" }, class: "btn btn-secondary" %>
    </div>
  </div>
</div>
